/* ----------- COULEUR ----------- */

 :root {
    --vertFoncee: #67B35D;
    --vertClair: #C0FFB8;
    --vert: #A9FF9E;
    --roseFoncee: #B32B85;
    --rose: #FF89D7;
}


/* ----------- POLICE ----------- */


/* latin */

@font-face {
    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Handlee Regular'), local('Handlee-Regular'), url(https://fonts.gstatic.com/s/handlee/v8/-F6xfjBsISg9aMakPm3wow.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v11/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */

@font-face {
    font-family: 'Mansalva';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Mansalva Regular'), local('Mansalva-Regular'), url(https://fonts.gstatic.com/s/mansalva/v1/aWB4m0aacbtDfvq5NKliKY8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* ----------- GENERAL ----------- */

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: auto;
}

p,
ul,
li,
a {
    font-family: 'Handlee';
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mansalva'
}


/* ----------- Header ----------- */

.bandeau {
    background: url("../img/carousel/bgimgV05.jpg");
}

.bandeau div {
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.bandeau h1 {
    font-family: 'Mansalva';
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    top: 10px;
    margin-top: -25px;
}

.bandeau h1 strong {
    color: var(--rose);
}

.animation {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%,
    20% {
        color: var(--rose);
    }
    50% {
        filter: hue-rotate(.5turn);
    }
    90%,
    100% {
        color: var(--rose);
    }
}

@media (min-width: 1601px) {
    .bandeau h1 {
        font-size: 30vh;
        height: 100%;
    }
    .bandeau {
        max-width: 100%;
        height: 100vh;
        width: auto;
    }
}

@media (max-width: 1600px) {
    .bandeau h1 {
        font-size: 15vh;
        height: 100%;
    }
    .bandeau {
        max-width: 100%;
        height: 100vh;
        width: auto;
    }
}

@media (max-width: 600px) {
    .bandeau h1 {
        font-size: 10vh;
        height: 100%;
    }
    .bandeau {
        max-width: 100%;
        height: 100vh;
        width: auto;
    }
}


/* ----------- FORMULAIRE ----------- */

form {
    width: 100%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 35px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    border-radius: 10%;
}

form label,
form input,
form textarea {
    margin-top: 15px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

form button {
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
}


/* ----------- FOOTER ----------- */

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    min-height: 30vh;
    background-color: var(--vertClair);
}

footer img {
    margin: 5px;
    border-radius: 25%;
    box-shadow: 1px 1px 5px var(--vertFoncee);
}

footer ul {
    list-style: none;
}

footer li {
    margin: 5px;
}

footer a {
    color: var(--rose);
    text-shadow: 1px 1px 1px var(--vert);
}

footer a:hover {
    color: var(--roseFoncee);
    text-decoration: none;
    margin-left: -10px;
    font-size: 1.2em;
    transition: 0.5s;
    text-shadow: 1px 1px 2px var(--vertFoncee);
}


/* ----------- CONTENU ----------- */

.contenu_carte {
    min-height: 100vh;
    padding: 15px;
    background-color: var(--vertFoncee);
}

.contenu_carte .container {
    justify-content: center;
}

.contenu_carte .card {
    background-color: var(--vertClair);
}

.contenu_carte .col-9 {
    background-color: rgb(223, 255, 219);
    height: 100%;
}

.contenu_carte .nav-link {
    color: var(--roseFoncee);
    font-size: 1.2em;
    transition: 0.5s;
}

.contenu_carte .nav-link:focus {
    color: white;
    background-color: var(--rose);
    transition: 0.5s;
}

.contenu_carte .nav-link.active {
    color: var(--roseFoncee);
    background-color: var(--rose);
    transition: 0.5s;
}

.contenu_carte .nav-link:hover {
    color: var(--vert);
    background-color: var(--vertFoncee);
    border: 1px var(--vert) solid;
    transition: 0.5s;
}

.contenu_carte .row {
    margin: 0;
    padding: 0;
}

.card {
    margin: 5px;
    min-width: 100%;
    min-height: 550px;
}

.card ul,
.card li {
    list-style: none;
    font-size: 1em;
}

.card-body {
    width: 100%;
    min-height: 25vh;
    margin: 0;
    padding: 0;
}

.card-body .row {
    height: 550px;
}

.card-body .row .col-3 {
    padding: 20px;
}

.card-body .row .col-9 {
    padding: 20px;
}

.tab-content {
    padding: 15px;
    display: flex;
    height: 100%;
    align-items: center;
}

.tab-pane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
}

.tab-pane p {
    display: flex;
    justify-content: center;
}

.tab-pane a {
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}

.titre_card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.titre_card h2 {
    color: var(--vert);
    text-shadow: 0 0 5px var(--roseFoncee);
    padding: 15px;
    padding-top: 30px;
    font-size: 2.5em;
    transition: 0.5s;
}

.titre_card h2:hover {
    color: var(--roseFoncee);
    text-shadow: 0 0 5px var(--vert);
    transition: 0.5s;
}

.btn-green {
    background-color: var(--vertFoncee);
    border-color: var(--vertFoncee);
}